{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="form" style="margin-left: 30%;"><!--form-->
    <div class="container">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form"><!--login form-->
                <h2>Login to your account</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <p>{{ field }}</p>
                        {% endfor %}
                        <a href="">Forgot Password ?</a>
                        <button type="submit" class="btn btn-default">Login</button>
                        <a href="{% url 'signup' %}"><span style="margin-left: 80px;">New User ?   </span> <span style="color: black;">&#x2190  Here</span></a>
                    </form>
                </div><!--/sign up form-->
            
        </div>
    </div>
</section><!--/form-->

{% endblock  %}