{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="form" style="margin-left: 30%;"><!--form-->
    <div class="container">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form"><!--login form-->
                <h2>Create New Password</h2>
                    {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <p>{{ field }}</p>
                        {% endfor %}
                        <button type="submit" class="btn btn-default">Save</button>
                    </form>
                    <p style="color: red;">Invalid Token</p>
                    <p><a href="{% url 'password_reset' %}">Request a new Password reset Token</a></p>
                    {% endif %}
                </div>
            
        </div>
    </div>
</section><!--/form-->

{% endblock  %}